@import "_variables.scss";

.header {
	box-sizing: border-box;
	width: 100vw;
	height: 5.7rem;
	display: flex;
	align-items: center;
	background-color: $background-color;
	color: white;

	img {
		margin-left: 1.8rem;
		height: 3.8rem;
	}

	nav {
		width: 100%;
		margin: 0 5.7rem 0 9.3rem;
		display: flex;
		justify-content: space-between;
		justify-content: space-between;

		@media (max-width: 1450px) {
			margin: 0;
		}

		h2 {
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 500;
		}
	}
}
