@import "_variables.scss";

.home {
	.main-section {
		display: flex;
	}

	.content {
		padding: 2.5rem 4.1rem 2rem 5.2rem;
		width: 100%;
		min-height: calc(100vh - 5.7rem);

		h1 {
			margin: 0;
			font-size: 3rem;
			font-style: normal;
			// font-weight: 500;

			.highlight {
				color: #ff0101;
			}
		}

		p {
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 400;
			margin-bottom: 3rem;
		}

		.graph-container {
			width: 95%;
			height: 80%;
			display: grid;
			grid-template-columns: 25% 25% 18rem auto;
			grid-template-rows: auto 18rem;
			grid-template-areas: "graph1 graph1 graph1 values" "graph2 graph3 graph4 values";
			gap: 2rem;

			& > * {
				border-radius: 0.3125rem;
			}
		}

		.values {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			grid-area: values;
		}
	}
}
